@import "./variables.scss";
@import "./mixin.scss";
@import "./base.scss";
@import "./fonts.scss";

body {
    margin-left: 15px;
}

.grid {
    margin: 0 auto;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-auto-rows: 100px;
    gap: 40px;

    div {
        border-radius: 50%;
    }

    .prime-1 {
        background-color: $prime-1;
    }
    .prime-2 {
        background-color: $prime-2;
    }
    .prime-3 {
        background-color: $prime-3;
    }
    .prime-4 {
        background-color: $prime-4;
    }
    // 
    .pr-1-light-1 {
        background-color: $pr-1-light-1;
    }
    .pr-1-light-2 {
        background-color: $pr-1-light-2;
    }
    .pr-1-light-3 {
        background-color: $pr-1-light-3;
    }

    .pr-1-dark-1 {
        background-color: $pr-1-dark-1;
    }
    .pr-1-dark-2 {
        background-color: $pr-1-dark-2;
    }
    .pr-1-dark-3 {
        background-color: $pr-1-dark-3;
    }

    //
    .pr-2-light-1 {
         background-color: $pr-2-light-1;
     }
    .pr-2-light-2 {
        background-color: $pr-2-light-2;
    }
    .pr-2-light-3 {
        background-color: $pr-2-light-3;
    }

    .pr-2-dark-1 {
        background-color: $pr-2-dark-1;
    }
    .pr-2-dark-2 {
        background-color: $pr-2-dark-2;
    }
    .pr-2-dark-3 {
        background-color: $pr-2-dark-3;
    }

    //
    .pr-3-light-1 {
        background-color: $pr-3-light-1;
    }
   .pr-3-light-2 {
       background-color: $pr-3-light-2;
   }
   .pr-3-light-3 {
       background-color: $pr-3-light-3;
   }

   .pr-3-dark-1 {
       background-color: $pr-3-dark-1;
   }
   .pr-3-dark-2 {
       background-color: $pr-3-dark-2;
   }
   .pr-3-dark-3 {
       background-color: $pr-3-dark-3;
   }

   //
   .pr-4-light-1 {
        background-color: $pr-4-light-1;
    }
   .pr-4-light-2 {
       background-color: $pr-4-light-2;
   }
   .pr-4-light-3 {
       background-color: $pr-4-light-3;
   }

   .pr-4-dark-1 {
       background-color: $pr-4-dark-1;
   }
   .pr-4-dark-2 {
       background-color: $pr-4-dark-2;
   }
   .pr-4-dark-3 {
       background-color: $pr-4-dark-3;
   }
}



//
.container {
        margin-left: 15px;

    h1 {
        @include heading($font-bold,35px,$pr-4-dark-3);
    }
    
    h2 {
        @include heading($font-medium,33px,$pr-4-dark-2);
    }
    h1:hover,
    h2:hover,
    h3:hover,
    h4:hover,
    h5:hover,
    h6:hover {
        @extend .hover;
    }

    
    h3 {
        @include heading($font-medium,27px,$pr-4-dark-3);
    }
    
    h4 {
        @include heading($font-medium,22px,$pr-4-dark-3);
    }
    
    h5 {
        @include heading($font-medium,17px,$pr-4-dark-3);
    }
    
    h6 {
        @include heading($font-medium,15px,$pr-4-dark-3);
    }
    
    p {
        @include heading($font-medium,14px,$pr-4-dark-1);
    }
}



// Subtitle
.subtitle {
    @include heading($font-medium,20px,$pr-4-dark-1);
    padding-left: 15px;
}
.subtitle:hover {
    // padding: 15px;
    // background-color: $prime-1;
    // color: #fff;
    @extend .hover;
    padding: 15px;
}


// List
.list-style-1 li{
    @include heading($font-medium,15px,$pr-4-dark-1);
    list-style-type: none;
    position: relative;
}
ul.list-style-1 {
    margin-left: 15px;
    padding: 0;
}

.list-style-1 li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $prime-1;
    margin-right: 10px;
}

.list-style-1 li::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 4px;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 6.5px;
    left: 3.5px;
}


// Quotation
.quotation {
    p {
        @include heading($font-regular,17px,$pr-1-dark-1);
        border-left: solid 2px $prime-1;
        padding: 15px 0 15px 30px;
        background-color: $pr-1-light-3;
    }
}

// ===========  Input elements _ Big=============

label {
    @include heading($font-medium,13px,$pr-4-dark-1);
}
.lable-2{
    padding-left: 4px;
    padding-right: 4px;
    background-color: $prime-1;
    @include heading($font-medium,13px,#fff);
    
}
input {
    @include heading($font-medium,13px,$pr-4-dark-1);
    margin-top: 5px;
    border: solid 1px $pr-4-light-2;
    border-radius: 2px;
    background-color: #f6f9f9;
    width: 320px;
    padding: 15px;
    height: 50px;
    line-height: 50px;
}
input:hover {
    background-color: #fff;
}

input {
    border: 1px solid #ccc;
    outline: none;
    &:focus {
      border-color: $prime-1;
    }
  }

// select
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    height:50px;
    width: 320px;  
}    
.select select {
    @include heading($font-medium,13px,$pr-4-dark-1);
        // font-family: 'Arial';
        display: inline-block;
        width: 320px;
        cursor: pointer;
        padding: 15px;
        outline: 0;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: #f6f9f9;
        color: #c7c7c7;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: $pr-4-dark-1;
        margin-top: 5px;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            // color: #000000;
            background: #fff;

        }
        .select select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
        .select select option {
            height: 50px;
            padding: 20px 0;
        }
.select_arrow {
    position: absolute;
    top: 21px;
    right: 15px;
    width: 10px;
    height: 10px;
    border: solid #ccc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #ccc;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

select .select:hover {
    background-color: #fff;
}

select:focus-visible + .select_arrow{
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    
}
.select select:focus {
    border-color: $prime-1;
}

// 2
.pagination {
    display: inline-block;
    margin-top: 5px;
  }
  
  .pagination a.bg-a {
    text-align: center;
    display: inline-block;
    width: 260px;
    margin-right: -4.5px;
    margin-left: -4px;
    // border-bottom: 1px solid #ccc;
    // border-top: 1px solid #ccc;
  }
  .pagination a {
    height: 50px;
    color: $pr-4-dark-1;
    // float: left;
    padding: 9px 18px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a:nth-child(1),
.pagination a:nth-child(3) {
    display: inline-block;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    
}

.pagination a.active {
    background: #f6f9f9;
    color: $pr-4-dark-1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
}


// color input

.color-input input:nth-child(1) {
    background-color: #fff;
    border-color: #09a912;
}
.color-input input:nth-child(3) {
    background-color: #fff;
    border-color: #f75e2e;
}
.green-in::placeholder{
    color: #09a912;
}
.red-in::placeholder{
    color: #f75e2e;
}
.color-input {
    position: relative;
}
.green-after::after {
    content: "";
    display: block;
    width: 11px;
    height: 6px;
    border-left: 2px solid #09a912;
    border-bottom: 2px solid #09a912;
    transform: rotate(-45deg);
    position: absolute;
    top: 24px;
    left: 297px;
}
.red-after {
    // position: relative;
}
.red-after::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 28px;
    left: 621px;
  transform: rotate(45deg);
}
.red-after::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 28px;
    left: 621px;
    transform: rotate(-45deg);
}




// Check
input[type = "checkbox"]{
    appearance:none;
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}
input[type = "checkbox"]:hover {
    border: 2px solid $prime-1;
}
input[type = "checkbox"]::before {
    content: "";
    display: none;
    position: absolute;
    top: 45%;
    left: 44%;
    width: 17px;
    height: 10px;
    margin: -6px 0 0 -6px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff; 
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before {
    display: block;
  }
input[type="checkbox"]:checked {
    background-color: $prime-1;
    border-color: $prime-1;
}
input.disabled {
    border-color: $pr-4-light-2;
    background-color: $pr-4-light-2;
    cursor: default;
}
input.disabled::after{
    content: "";
    position: absolute;
    top: 45%;
    left: 44%;
    width: 17px;
    height: 10px;
    margin: -6px 0 0 -6px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff; 
    transform: rotate(-45deg);
}
input.disabled:hover {
    border-color: $pr-4-light-2;
}
// crecle
input.circle{
    appearance:none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #fff;
    position: relative;
    
}
input.circle:checked {
    background-color: #fff;
    border-color: $prime-1;
}
input.circle::before {
    content: "";
    display: none;
    position: absolute;
    top: 45%;
    left: 44%;
    width: 15px;
    height: 15px;
    margin: -6px 0 0 -6px;
    border: 1px solid $prime-1;
    background-color: $prime-1;
    border-radius: 50%;
}
input.disabled-circle {
    border-radius: 50%;
    border-color: $pr-4-light-2;
    background-color: #fff;
    cursor: default;
}
input.disabled-circle::after {
    content: "";
    // display: none;
    position: absolute;
    top: 45%;
    left: 44%;
    width: 15px;
    height: 15px;
    margin: -6px 0 0 -6px;
    border: 1px solid $pr-4-light-2;
    background-color: $pr-4-light-2;
    border-radius: 50%;
}
input.disabled-circle:hover {
    border-color: $pr-4-light-2;
}

//Buttons

.buttons {
    display: grid;
    grid-template-columns: 220px 280px 200px 220px 200px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;

    
    button:nth-child(1),
    button:nth-child(2),
    button:nth-child(3),
    button:nth-child(4),
    button:nth-child(5) {
        @include buttons($prime-2, #fff, 220px, 50px, $prime-2,3px, 40px)
    }

    // button:nth-child(1),
    // button:nth-child(2),
    // button:nth-child(3),
    // button:nth-child(4),
    // button:nth-child(5) {
    //     background-color: $prime-2;
    //     color: #fff;
    //     width: 220px;
    //     height: 50px;
    //     border:solid 1px $prime-2;
    //     border-radius: 3px;
    //     line-height: 50px;
    // }
    button:nth-child(3),
    button:nth-child(5) {
        width: 200px;
    }
    button:nth-child(1):hover {
        @include btn-hover($pr-2-light-1,$pr-2-light-1)

    }

    button:nth-child(2) {
        background-color: $pr-1-dark-1;
        border:solid 1px $pr-1-dark-1;
        width: 280px;
    }
    button:nth-child(2):hover {
        @include btn-hover($pr-1-light-2,$pr-1-light-2)
    }

    button:nth-child(3) {
        background-color: $pr-1-dark-1;
        border:solid 1px $pr-1-dark-1;
        width: 200px;
    }
    button:nth-child(3):hover {
        @include btn-hover($pr-1-light-2,$pr-1-light-2)
    }

    button:nth-child(4) {
        background-color: #fff;
        color: $prime-2;
        width: 220px;
    }
    button:nth-child(4):hover {
        @include btn-hover($pr-2-light-1,$pr-2-light-1)
    }

    button:nth-child(5) {
        background-color: #fff;
        color: $pr-1-dark-1;
        border:solid 1px $pr-1-dark-1;
        width: 200px;
    }
    button:nth-child(5):hover {
        @include btn-hover($pr-1-light-2,$pr-1-light-2)
    }

    button:nth-child(6) {
        @include buttons($pr-4-light-2, #fff, 220px, 50px, $pr-4-light-2,3px, 40px)
    }
    button:nth-child(7){
        @include buttons($pr-4-light-2, #fff, 280px, 50px, $pr-4-light-2,3px, 40px)
    }
    button:nth-child(8){
        @include buttons($pr-4-light-2, #fff, 200px, 50px, $pr-4-light-2,3px, 40px)
    }
    button:nth-child(9){
        @include buttons($pr-4-light-2, #fff, 220px, 50px, $pr-4-light-2,3px, 40px)
    }
    button:nth-child(10) {
        // background-color: $pr-4-light-2;
        // color: #fff;
        // height: 50px;
        // border-radius: 3px;
        // line-height: 50px;
        // border:solid 1px $pr-4-light-2;
        @include buttons($pr-4-light-2, #fff, 200px, 50px, $pr-4-light-2,3px, 40px)
    }

    button:nth-child(11) {
        @include buttons($prime-2, #fff, 150px, 40px, $prime-2,3px, 30px)
    }
    button:nth-child(11):hover {
        // background-color: $pr-2-light-1;
        // border:solid 1px $pr-2-light-1;
        @include btn-hover($pr-2-light-1,$pr-2-light-1)
    }

    button:nth-child(12) {
        @include buttons($pr-1-dark-1, #fff, 170px, 40px, $pr-1-dark-1,3px, 30px)
    }
    button:nth-child(12):hover {
        // background-color: $pr-1-light-2;
        // border:solid 1px $pr-1-light-2;
        @include btn-hover($pr-1-light-2,$pr-1-light-2)
    }

    button:nth-child(13) {
        @include buttons($pr-1-dark-1, #fff, 150px, 40px, $pr-1-dark-1,3px, 30px)
    }
    button:nth-child(13):hover {
        // background-color: $pr-1-light-2;
        // border:solid 1px $pr-1-light-2;
        @include btn-hover($pr-1-light-2,$pr-1-light-2)
    }

    button:nth-child(14) {
        @include buttons(#fff, $prime-2, 150px, 40px, $prime-2,3px, 30px)
        
    }
    button:nth-child(14):hover {
        // background-color: $pr-2-light-1;
        // border:solid 1px $pr-2-light-1;
        // color: #fff;
        @include btn-hover($pr-2-light-1,$pr-2-light-1)
    }
    button:nth-child(15) {
        @include buttons(#fff, $pr-1-dark-1, 150px, 40px, $pr-1-dark-1,3px, 30px)
        
    }
    button:nth-child(15):hover {
        // background-color: $pr-1-light-2;
        // border:solid 1px $pr-1-light-2;
        // color: #fff;
        @include btn-hover($pr-1-light-2,$pr-1-light-2)
    }
    button:nth-child(16) {
        @include buttons($pr-4-light-2, #fff, 150px, 40px, $pr-4-light-2,3px, 30px)
    }
    button:nth-child(17) {
        @include buttons($pr-4-light-2, #fff, 170px, 40px, $pr-4-light-2,3px, 30px)
    }
    button:nth-child(18) {
        @include buttons($pr-4-light-2, #fff, 150px, 40px, $pr-4-light-2,3px, 30px)
    }
    button:nth-child(19) {
        @include buttons($pr-4-light-2, #fff, 150px, 40px, $pr-4-light-2,3px, 30px)
    }
    button:nth-child(20) {
        @include buttons($pr-4-light-2, #fff, 150px, 40px, $pr-4-light-2,3px, 30px)
    }
}



/* Style the tab */
.tab {
    border-bottom: 2px solid $pr-4-light-3;
    height: 51px;
  }
  .tablinks {
      @include heading($font-medium,14px,$pr-4-light-1);
  }
  .tablinks:hover {
    color: $prime-2;
}
.tablinks.active {
    color: $prime-2;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;

  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: inherit;
    // border-bottom: 2px solid $prime-2;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: inherit;
    border-bottom: 2px solid $prime-2;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 35px 0px;
    color: $prime-4;
    // border: 1px solid #ccc;
    // border-top: none;
  }
  .tabcontent p {
      margin-top: 0;
      margin-bottom: 0;
      @include heading($font-regular,14px,$pr-4-dark-1);
  }

//   ===============

// Elements Misc.
.elements {
    // display: inline-block;
    margin-top: 10px;
  }
  
  .elements a {
    color: black;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s;
    margin-right: 15px;
    text-align: center;
    @include heading($font-medium,13px,$pr-4-light-1);
  }
  
  .elements a.active {
    background-color: $prime-1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: white;
  }


//  point
  .point {
    // display: inline-block;
    margin-top: 10px;
  }
  
  .point a {
    color: black;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-decoration: none;
    margin-right: 5px;
    background-color: $pr-4-light-1;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .point a.active {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height:12;
    border: 3px solid $prime-1;
    cursor: pointer;
  }
  


// Information popup
div.flex-div {
    display: flex;
    gap: 70px;
}

p.popup {
    width: 320px;
    padding: 25px;
    border: solid 2px $pr-4-light-2;
    @include heading($font-light,13px,$pr-4-dark-3);
}


p.icone-disable i{
    font-size: 15px;
    margin-right: 20px;
    color: #a3a6a9;
}
p.icone-active i {
    font-size: 15px;
    margin-right: 20px;
}
i.fa-facebook-f {
    color: #3b5999;
}
i.fa-twitter {
    color: #55acef;
}
i.fa-pinterest-p {
    color: #bd081b;
}
i.fa-google-plus-g {
    color: #de4b39;
}

div.bg-icone {
    height: 120px;
    padding: 15px 0px 15px 15px;
    background-color: #349ddb;
}

p.icone-border i,
p.icone-border-2 i {
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
}
p.icone-border-2 i{
    border: none;
    background-color: #0287c3;
}




 



  
// -------------------------------------------------------------
.all_{
    //height: 700px;
    border: solid;
}
.bg{
    background-color: aqua;
    height: 400px;
}
.test{
    background-color: blue;
    width: 970px;
    margin: 0 auto;
    height: 400px;
    //position: relative;
    //top: -150px;
    margin-top: -150px;

}
.block{
    background-color: green;
    height: 300px;
}